
@font-face {
    font-family: PlexSerif;
    src: url("IBMPlexSerif-Regular.ttf")
}

* {
    font-family: PlexSerif, serif;
}

.active {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #555;
    background-color: #8B4513;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFC0CB;
}

