<html>
    <head>
        <title>BookShelf: Library</title>
        <link rel="stylesheet" type="text/css" href="html/css/common.css" />
    </head>

    <body>
        <h1><em>BookShelf</em></h1>
        <ul>
            <li><a href="/library">Library</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
        <br />
        <input type="text" placeholder="Search..">
        
        <!--
        <div class="dropdown">
            <button class="dropbtn">View:</button>
            <div class="dropdown-content">
                <a href="">GRID</a>
                <a href="">LIST</a>
            </div>
        </div>
        -->
        
        <table id="books">
            {{if .}}
                {{range .}}
                    <tr><td><a href="/read?id={{.Id}}">
                        <img width="200" src="data:src/png;base64, {{.Cover}}"/>
                    </a></td></tr>
                {{end}}
            {{end}}
        </table>
    </body>
</html>
